In [1]:
import json
import urllib
import pandas as pd
import datetime

In [2]:
time = str(datetime.datetime.now()).replace(":", "_")

In [3]:
url = "https://data.covid19.go.id/public/api/update.json"
response = urllib.request.urlopen(url)
print(response)

<http.client.HTTPResponse object at 0x7f4890690430>

In [4]:
text = response.read()

In [5]:
json_data = json.loads(text)

In [6]:
df = pd.json_normalize(json_data.get('update').get('harian'))

In [7]:
df

,key_as_string,key,doc_count,jumlah_meninggal.value,jumlah_sembuh.value,jumlah_positif.value,jumlah_dirawat.value,jumlah_positif_kum.value,jumlah_sembuh_kum.value,jumlah_meninggal_kum.value,jumlah_dirawat_kum.value
0,2020-03-02T00:00:00.000Z,1583107200000,1,0,0,2,2,2,0,0,2
1,2020-03-03T00:00:00.000Z,1583193600000,1,0,0,0,0,2,0,0,2
2,2020-03-04T00:00:00.000Z,1583280000000,1,0,0,0,0,2,0,0,2
3,2020-03-05T00:00:00.000Z,1583366400000,1,0,0,0,0,2,0,0,2
4,2020-03-06T00:00:00.000Z,1583452800000,1,0,0,2,2,4,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...
286,2020-12-13T00:00:00.000Z,1607817600000,1,166,4460,6189,1563,617820,505836,18819,93165
287,2020-12-14T00:00:00.000Z,1607904000000,1,137,5121,5489,231,623309,510957,18956,93396
288,2020-12-15T00:00:00.000Z,1607990400000,1,155,5699,6120,266,629429,516656,19111,93662
289,2020-12-16T00:00:00.000Z,1608076800000,1,137,5328,6725,1260,636154,521984,19248,94922
290,2020-12-17T00:00:00.000Z,1608163200000,1,142,4995,7354,2217,643508,526979,19390,97139

In [8]:
df.to_csv('covid19-id_'+str(time) +'.csv', index=False)